body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

#chatbox {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user {
  text-align: right;
  margin: 5px;
}

.bot {
  text-align: left;
  margin: 5px;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}